*{
    margin : 0;
    padding : 0;
}
#topNavBar
{
    position : absolute;

    height: 100px;

    width : 100%;

    text-align: right;

    background-color: rgb(46, 46, 46);

    color : #fff;

    font:20px/1.3 'Open Sans', sans-serif;
}

nav
{

    position : absolute;

    left : 700px;

    top : 28px;
}

nav a
{

    text-decoration: none;

    color : #fff;

    padding : 20px;

    top : 20px;

}
#map
{
    position : absolute;

    top : 180px;

    left : 20%;
}